<table>
  <tr>
    <th>Date</th>
    <th>Week Day</th>
    <th>Purpose</th>
    <th>Time In</th>
    <th>Time Out</th>
  </tr>
  <tr>
    <td><%= time_log.time_in.strftime("%m/%d/%Y") %></td>
    <td><%= humanize_week_day(time_log.week_day) %></td>
    <td><%= humanize_purpose(time_log.purpose) %></td>
    <td><%= time_log.time_in.strftime("%I:%M%p") %></td>
    <td><%= time_log.time_out.strftime("%I:%M%p") if time_log.time_out.present?  %></td>
    <td><%= link_to "View Log", time_log_path(time_log.id) %></td>
  </tr>
</table>
